{% extends 'galeria/base.html' %}
{% load static %}
{% block content %}
    <div class="main-content">
        <section id="login">
            <h2>Entre na sua conta</h2>

            <!-- Mensagem de erro -->
            {% if error %}
                <div class="error">{{ error }}</div>
            {% endif %}

            <form method="POST" id="login-form">
                {% csrf_token %}
                <label for="username">Usuário:</label>
                <input type="text" id="login-username" name="username" required>
                
                <label for="senha">Senha:</label>
                <input type="password" id="login-senha" name="password" required>
                
                <button type="submit">Login</button>
            </form>
            <p>Não tem uma conta? <a href="{% url 'register' %}">Cadastre-se</a></p>
        </section>
    </div>

    <script src="scripts.js"></script>
{% endblock %}
