{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serviços - Maestria</title>
    <link rel="stylesheet" href="{% static 'styles/style2.css' %}">
</head>
<body>
    <header>
        <a href="{% url 'index' %}" class="logo">
            <img src="{% static 'assets/img/logo1.png' %}" alt="logo">
        </a>
        <h1>Nossos Serviços</h1>
        <nav class="menu-lateral__navegacao">
            <a href="{% url 'index' %}"><img src="{% static 'assets/ícones/1x/icons8-casa-25.png' %}"> Home</a>
            <a href="{% url 'sobre' %}"><img src="{% static 'assets/ícones/1x/icons8-olho-25.png' %}"> Sobre nós</a>
            <a href="{% url 'servicos' %}"><img src="{% static 'assets/ícones/1x/icons8-serviços-25.png' %}"> Serviços</a>
            <a href="{% url 'register' %}"><img src="{% static 'assets/ícones/1x/icons8-cadastro-25.png' %}"> Cadastro</a>
            <a href="{% url 'contato' %}"><img src="{% static 'assets/ícones/1x/icons8-e-mail-25.png' %}"> Contato</a>
            {% if user.is_authenticated %}
                <p class="user-greeting">Olá, {{ user.username }}</p>
                <form method="POST" action="{% url 'logout' %}" class="logout-form">
                    {% csrf_token %}
                    <button type="submit" class="logout-button">Sair</button>
                </form>
            {% endif %}
        </nav>
    </header>

    <div class="main-content">
        <section id="servicos">
            <h2>Nossos Serviços</h2>
            <p>Oferecemos uma gama completa de serviços de automação residencial, desde iluminação inteligente até sistemas de segurança avançados.</p>

           <!-- Formulário de busca -->
            <form method="GET" action="{% url 'buscar_anuncios' %}">
                <label for="id_categoria">Categoria:</label>
                {{ form.categoria }}

                <label for="id_valor_min">Valor Mínimo:</label>
                {{ form.valor_min }}

                <label for="id_valor_max">Valor Máximo:</label>
                {{ form.valor_max }}

                <button type="submit">Filtrar</button>
            </form>

            <!-- Exibir Anúncios -->
            <h3>Anúncios Recentes</h3>
            <div class="card-container">
                {% for anuncio in anuncios %}
                    <div class="card">
                        <img src="{{ anuncio.fotos.url }}" alt="{{ anuncio.titulo }}" class="card-image">
                        <h3>{{ anuncio.titulo }}</h3>
                        <p>{{ anuncio.descricao }}</p>
                        <p><strong>Valor:</strong> R$ {{ anuncio.valor }}</p>
                        <button onclick="window.location.href='https://wa.me/5583993846067'">Solicitar Orçamento</button>
                    </div>
                {% empty %}
                    <p>Nenhum anúncio disponível no momento.</p>
                {% endfor %}
            </div>

            <p>Entre em contato conosco para mais informações sobre nossos serviços!</p>
        </section>
    </div>
    
    <footer class="rodape">
        <div class="rodape__icones">
            <a href="#" target="_blank">
                <img src="{% static 'assets/ícones/1x/facebook.png' %}" alt="ícone facebook">
            </a>
            <a href="#" target="_blank">
                <img src="{% static 'assets/ícones/1x/instagram.png' %}" alt="ícone instagram">
            </a>
            <a href="#" target="_blank">
                <img src="{% static 'assets/ícones/1x/icons8-whatsapp-22.png' %}" alt="ícone whatsapp">
            </a>
        </div>
        <p class="rodape__texto">© 2024 Maestria. Todos os direitos reservados</p>
    </footer>

    <script src="{% static 'scripts.js' %}"></script>
</body>
</html>
