{% extends 'galeria/base.html' %}
{% load static %}
{% block content %}

    <div class="main-content">
        <section id="servicos">
            <h2>Nossos Serviços</h2>
            <p>Oferecemos uma gama completa de serviços de automação residencial, desde iluminação inteligente até sistemas de segurança avançados.</p>

           <!-- Formulário de busca -->
            <form method="GET" action="{% url 'buscar_anuncios' %}">
                <label for="id_categoria">Categoria:</label>
                {{ form.categoria }}

                <label for="id_valor_min">Valor Mínimo:</label>
                {{ form.valor_min }}

                <label for="id_valor_max">Valor Máximo:</label>
                {{ form.valor_max }}

                <button type="submit">Filtrar</button>
            </form>

            <!-- Exibir Anúncios -->
            <h3>Anúncios Recentes</h3>
            <div class="card-container">
                {% for anuncio in anuncios %}
                    <div class="card">
                        <img src="{{ anuncio.fotos.url }}" alt="{{ anuncio.titulo }}" class="card-image">
                        <h3>{{ anuncio.titulo }}</h3>
                        <p>{{ anuncio.descricao }}</p>
                        <p><strong>Valor:</strong> R$ {{ anuncio.valor }}</p>
                        <button onclick="window.location.href='https://wa.me/5583993846067'">Solicitar Orçamento</button>
                    </div>
                {% empty %}
                    <p>Nenhum anúncio disponível no momento.</p>
                {% endfor %}
            </div>

            <p>Entre em contato conosco para mais informações sobre nossos serviços!</p>
        </section>
    </div>

    <script src="{% static 'scripts.js' %}"></script>
{% endblock %}
