{% extends 'galeria/base.html' %}
{% load static %}
{% block content %}

    <div class="main-content">
        <section id="sobre-nos">
            <h2>Quem Somos?</h2>
            <img src="{% static '/assets/img/logo.jpg' %}" alt="Logo Maestria">
            <p>Maestria é uma empresa líder em automação residencial, dedicada a transformar casas em ambientes inteligentes e eficientes.</p>
            <p>Fundada em [ano de fundação], a Maestria começou com o objetivo de proporcionar soluções inovadoras para o cotidiano das pessoas. Ao longo dos anos, nossa equipe cresceu e se especializou em tecnologia de ponta, oferecendo serviços que vão desde a instalação de sistemas de iluminação inteligente até a implementação de segurança residencial avançada.</p>
            <p>Nosso compromisso com a qualidade e a satisfação do cliente nos tornou uma referência no setor. Acreditamos que cada casa pode ser transformada em um lar inteligente, e estamos aqui para tornar isso uma realidade.</p>
        </section>
    </div>

    <script src="scripts.js"></script>
{% endblock %}